.backDrop {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    height: calc(100% - 30px);
    background-color: #7A7A7A;
    overflow-y: scroll;
}

.backDrop.opened {
    width: calc(100% - 350px);
}

.backDrop.closed {
    width: 100%;
}