<div class="backDrop opened">
    <div class="innerWrap">
        <div *ngIf="configOptions.includeTitle && configOptions.titleInfoPos === 'titleInfoSeparatePage'" class="paperBack">
            <div [style.padding-left]="configOptions.titleInfoAlign === 'titleInfoAlignCenter' ? 'calc(50% - 100px)' : configOptions.titleInfoAlign === 'titleInfoAlignLeft' ? null : 'calc(100% - 220px)'" class="titlePageWrap">
                <ng-container *ngFor="#index of [0, 1, 2, 3, 4, 5]; #i = index">
                    <div *ngIf="configOptions.titleInfoIncludeClassIndex === i" >
                        <div class="titleLabelLabel">
                            Class
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div *ngIf="configOptions.titleInfoIncludeNameIndex === i" >
                        <div class="titleLabelLabel">
                            Name
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div *ngIf="configOptions.titleInfoIncludeOtherIndex === i" >
                        <div class="titleLabelLabel">
                            Other
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div *ngIf="configOptions.titleInfoIncludeProfessorIndex === i" >
                        <div class="titleLabelLabel">
                            Professor
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div *ngIf="configOptions.titleInfoIncludeSchoolIndex === i" >
                        <div class="titleLabelLabel">
                            School
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div *ngIf="configOptions.titleInfoIncludeTitleIndex === i" >
                        <div class="titleLabelLabel">
                            Title
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="configOptions.includeAbstractSummary && configOptions.summaryOwnPage" class="paperBack">
            
        </div>
        <ng-container *ngIf="configOptions.bodyBetweenSections === 'bodyEachSectionOwnPage'">
            
        </ng-container>
        <div *ngIf="configOptions.bodyBetweenSections !== 'bodyEachSectionOwnPage'" class="paperBack">
            
        </div>
        <div *ngIf="configOptions.includeConclusion && configOptions.conclusionOwnPage" class="paperBack">
            
        </div>




        <div class="paperBack">
            <div class="labelLabel">
                Section Label
            </div>
            <div class="firstLabelWrap">
                <div contenteditable="true" class="labelEnter" id="editting"></div>
                <div class="labelOptions">
                    ...
                </div>
            </div>
            <div class="contentLabel">
                Paragraph
            </div>
            <div class="contentOptions">
                ...
            </div>
            <div class="contentEnterWrap">
                <p contenteditable="true" class="contentEnter" id="editting">H<em>el</em>lo</p>		
            </div>
            


            <div class="labelLabel">
                Section Label
            </div>
            <div class="labelWrap">
                <div contenteditable="true" class="labelEnter" id="editting"></div>
                <div class="labelOptions">
                    ...
                </div>
            </div>
            <div class="contentLabel">
                Paragraph
            </div>
            <div class="contentOptions">
                ...
            </div>
            <div class="contentEnterWrap">
                <p contenteditable="true" class="contentEnter"  id="editting">H<em>el</em>lo</p>		
            </div>




            <div class="labelLabel">
                Section Label
            </div>
            <div class="labelWrap">
                <div contenteditable="true" class="labelEnter" id="editting"></div>
                <div class="labelOptions">
                    ...
                </div>
            </div>
            <div class="contentLabel">
                Paragraph
            </div>
            <div class="contentOptions">
                ...
            </div>
            <div class="contentEnterWrap">
                <p contenteditable="true" class="contentEnter"  id="editting">H<em>el</em>lo</p>		
            </div>
        </div>      
    </div>
</div>